# dependencies
node_modules/

# env secrets
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# build / cache
dist/
build/
coverage/
.nyc_output/
.cache/


"BOT_TOKEN=8096182455:AAEk29xHBtCf0AB4THTsoje4zDG51BH0Qdg" | Set-Content .env.example
